h1 {
  font-size: 8vw;
  text-align: center;
}

.turn {
  font-size: 4vw;
  text-align: center;
}

table {
  margin: auto;
  border: 1px solid black;
  border-top: none;
  border-right: none;
  border-collapse: collapse;
}

td {
  /* TODO: delete each space of cells */
  border: 1px solid black;
  border-left: none;
  border-bottom: none;
  height: 10vw;
  width: 10em;
  border-spacing: 0;
  text-align: center;
}

.result {
  font-size: 4vw;
  text-align: center;
  margin: 40px auto 0 auto;
  font-weight: bold;
}

.restart {
  font-size: 4vw;
  margin: 20px auto;
  text-align: center;
  width: 25vw;
}